*.suo
*.baml
*.cache
*.cmd
Debug
Release
*.dll
*.db
*.db-shm
*.db-wal
*.nupkg
*.pdb
*.dtbcache
AquaAssistClients/DesktopClient/AquaAssist/AquaAssist.Mobile/AquaAssist.Mobile.Android/obj/
AquaAssistClients/DesktopClient/AquaAssist/AquaAssist.Mobile/AquaAssist.Mobile.iOS/obj/
AquaAssistClients/DesktopClient/AquaAssist/AquaAssist.Mobile/AquaAssist.Mobile/obj/
AquaAssistClients/DesktopClient/AquaAssist/packages/
