*.suo
*.baml
*.cache
*.cmd
Debug
Release
*.dll
*.db
*.db-shm
*.db-wal
*.nupkg
*.pdb
AquaAssistClients/DesktopClient/AquaAssist/.vs/AquaAssist/v15/Server/sqlite3/storage.ide-wal
AquaAssistClients/DesktopClient/AquaAssist/.vs/AquaAssist/v15/Server/sqlite3/storage.ide-shm
