*.suo
*.baml
*.cache
*.cmd
Debug
Release
*.dll
*.db
*.db-shm
*.db-wal
*.nupkg
*.pdb
AquaAssistClients/DesktopClient/AquaAssist/.vs/AquaAssist/v15/Server/sqlite3/storage.ide-wal
AquaAssistClients/DesktopClient/AquaAssist/.vs/AquaAssist/v15/Server/sqlite3/storage.ide-shm
AquaAssistClients/DesktopClient/AquaAssist/AquaAssist.Mobile/AquaAssist.Mobile/obj/
AquaAssistClients/DesktopClient/AquaAssist/AquaAssist.Mobile/AquaAssist.Mobile.Android/obj/
AquaAssistClients/DesktopClient/AquaAssist/AquaAssist.Mobile/AquaAssist.Mobile.iOS/obj/
*.dtbcache
*.p7s
RaspberrySoft/AquaAssistAPI/node_modules/
*.ide
